*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteItemsCarrusel{
    /*border: 5px solid #000;*/
    height: 200px;
    width: 800px;
    margin: auto;
    overflow: hidden;
}

.tarjaCarrusel img{
}
.itemCarrusel{
    /*border: 1px solid #000;*/
    height: 100%;
    position: relative;
}

.tarjaCarrusel{
    /*background-color: aqua;*/
    height: 100%;
}

.flechasCarrusel{
    /*background-color: aquamarine;*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    /*opacity: 0.4;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tarjaCarrusel-1{
    background-color: violet;
}
#tarjaCarrusel-2{
    background-color: rgb(130, 238, 146);
}
#tarjaCarrusel-3{
    background-color: rgb(238, 162, 130);
}

a{
    text-decoration: none;
}

i{
    color: #fff;
}

#contePuntos{
    /*background-color: #eee;*/
    display: flex;
    justify-content:center;
    align-content: center;
    gap: 100px;
}

#contePuntos > a{
    font-size: 1.5rem;
}